In [2]:
import pandas as pd
import json

In [3]:
ruta="../Dataset_Original/australian_users_items.json"

In [4]:
with open(ruta, 'r', encoding='utf-8') as w:
    data = w.readlines() #la funcion eval se utiliza para evaluar expresiones de cadena que no son seguras, esto se hace así debido a que no es un json puro el json que estamos manejando  
    data = [eval(line.strip()) for line in data]
df=pd.DataFrame(data)

In [ ]:
df #exploramos el dataframe

In [5]:
df=df.drop(["items_count", "steam_id", "user_url"], axis=1) #borramos las columnas que no vamos a utilizar
df

,user_id,items
0,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...
88305,76561198323066619,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,[]
88308,76561198329548331,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,[]

In [6]:
filas_con_nulos = df[df.isnull().any(axis=1)] #verificamos la existencia de nulos
filas_con_nulos #no existen nulos en el dataframe

Empty DataFrame
Columns: [user_id, items]
Index: []

In [7]:
#eliminamos todos los duplicados del dataframe
df=df.drop_duplicates(subset="user_id")

In [8]:
#desanidamos la columna items en otro dataframe para mas adelante utilizarla en la api de forma más práctica
df_items = pd.json_normalize(data, record_path=['items'], meta=['items_count','user_id', 'user_url'] )
#data...usar su variable en donde guardaron cada linea al abrir el archivo
df_items

,item_id,item_name,playtime_forever,playtime_2weeks,items_count,user_id,user_url
0,10,Counter-Strike,6,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [1]:
df_items

NameError: name 'df_items' is not defined

In [9]:
#eliminamos los duplicados de este nuevo dataframe
df_items.drop_duplicates(subset=["user_id", "item_name"])

,item_id,item_name,playtime_forever,playtime_2weeks,items_count,user_id,user_url
0,10,Counter-Strike,6,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [ ]:
#finalmente guardamos ambos dataframe en 2 csv
df_items.to_csv("user_items.csv")